html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-size: 10px;
}

body {
	margin: 0;
	font-size: 1.6rem;
	background: #f7f7f7;
	text-align: center;
}

li {
	list-style: none;
	display: inline;
	margin-right: 10rem;
}

a {
	text-decoration: none;
	color: #f7f7f7;
}

p {
	width: 95%;
}

figure {
	text-align: center;
}

figcaption {
	font-size: 1.2rem;
	width: 100%;
}

/*ID*/
#header {
	margin: 0;
	padding: 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #342b38;
}

#nav-container {
	display: flex;
	justify-content: space-between;
}

#header-img {
	width: 5rem;
}

#main {
	font-size: 1.8rem;
	margin-top: 6rem;
	padding: 2rem;
}

#candle-img {
	margin-right: 90%;
}

#shiva-img {
	margin-left: 70%;
}

#marijuana-flag {
	margin-right: 90%;
}

#marijuana-prohibition {
	margin: auto;
}

#video {
	margin: 10rem;
}

#subscription {
	background: rgb(187,241,200);
	background: -moz-radial-gradient(circle, rgba(187,241,200,1) 0%, rgba(128,189,171,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(187,241,200,1) 0%, rgba(128,189,171,1) 100%);
	background: radial-gradient(circle, rgba(187,241,200,1) 0%, rgba(128,189,171,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbf1c8",endColorstr="#80bdab",GradientType=1);
	padding: 1rem;
	height: auto;
	width: 28rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 1rem;
	font-size: 1.4rem;
	font-weight: 600;
	color: white;
	margin: auto;
	margin-top: 2rem;
}

/*Classes*/
.img_size {
	width: 15rem;
}

.text_highlight {
	border-bottom: 3px solid #f9c49a;
}

.titles {
	border-left: 3px solid #5c2a9d;
	padding-left: 2rem;
	text-align: center;
	width: 30rem;
	margin-left: auto;
	margin-right: auto;
}

/*media querie*/

@media only screen and (max-width: 600px) {
	body {
		font-size: 2rem;
	}

	li {
		margin-right: 3rem;
	}

  p {
    width: 100%;
  }

  .titles {
  	width: 15rem;
  }

  .img_size {
  	width: 10rem;
  }
}